@model Module35.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Регистрация";
}

<form method="get" asp-controller="Register" asp-action="RegisterPart2">
    <div asp-validation-summary="ModelOnly" class="text-danger small"></div>
    
    <div class="form-group mb-1">
        <input asp-for="FirstName" class="form-control form-control-sm" placeholder="Введите имя" />
        <span asp-validation-for="FirstName" class="text-danger small"></span>
    </div>
    
    <div class="form-group mb-1">
        <input asp-for="LastName" class="form-control form-control-sm" placeholder="Введите фамилию" />
        <span asp-validation-for="LastName" class="text-danger small"></span>
    </div>
    
    <div class="form-group mb-1">
        <label class="mb-1 small">Дата рождения</label>
        <div class="row g-1">
            <div class="col-4">
                <select asp-for="Date" class="form-select form-select-sm">
                    <option selected>День</option>
                    @for (int i = 1; i <= 31; i++)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
            </div>
            <div class="col-4">
                <select asp-for="Month" class="form-select form-select-sm">
                    <option selected>Месяц</option>
                    @for (int i = 1; i <= 12; i++)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
            </div>
            <div class="col-4">
                <select asp-for="Year" class="form-select form-select-sm">
                    <option selected>Год</option>
                    @for (int i = DateTime.Now.Year - 100; i <= DateTime.Now.Year - 14; i++)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
            </div>
        </div>
    </div>
    
    <div class="form-group mt-2">
        <button type="submit" class="btn btn-success btn-sm w-100">Продолжить регистрацию</button>
    </div>
</form>

@section Scripts {
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>
} 